img {
    width: 150px;
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: burlywood;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
/* Create three equal columns that sits next to each other */
.column {
flex: 1%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
}

.content {
    max-width: 1500px;
    margin: auto;
  }

canvas{
    position: fixed;
    left:0;
    top:0;
    z-index:-1;
}